@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
</style> ;


:root {
      --cor-principa
}
h1 {
   font-family: "Parisienne", cursive;
   color:blue;
}

#tiulo-principal {
   color: crimson;
}

.topico {
   background-color: black;
   color: lightyellow;
   
}

a { 
   font-weight: bold;
   text-decoration: none
   color red;
}

a:visited {
     color: crimson;

}

a:hover {
     text-decoration: underline;
}